openapi: 3.0.3
info:
  title: Magnit Market API
  description: >
    API для партнёров Magnit Market. Позволяет управлять товарами, ценами и остатками, а также собирать и отгружать заказы. <br/>

    Доступ к API осуществляется по ключу, передаваемому в заголовке X-Api-Key.

  version: 0.1.38
servers:
  - url: 'https://b2b-api.magnit.ru'
    description: Основной стенд интеграции.
  - url: 'https://b2b-api-gateway.uat.ya.magnit.ru'
    description: Демо стенд для проведения тестирования процессинга заказов.
security:
  - apiKeyAuth: []
tags:
  - name: Товары
    description: Magnit Market API. Товары
  - name: Категории
    description: Magnit Market API. Категории
  - name: Цены
    description: Magnit Market API. Цены
  - name: Остатки
    description: Magnit Market API. Товары
  - name: Магазины
    description: Magnit Market API. Магазины
  - name: Задания на сборку
    description: Magnit Market API. Задания на сборку
  - name: Отгрузка посылок
    description: Magnit Market API. Отгрузка посылок
paths:
  /api/seller/v1/orders/list/unprocessed:
    post:
      description: >
        Возвращает список необработанных заданий на сборку за указанный период времени.

      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    page_size:
                      default: 100
                      description: Лимит кол-ва элементов в одном ответе
                      maximum: 1000
                      minimum: 1
                      type: integer
                    page_token:
                      description: >
                        В этом параметр необходимо передавать next_page_token из предыдущего ответа.

                        Если параметр не задан возвращается первая страница с результатами.

                      type: string
                  type: object
                - properties:
                    created_at:
                      anyOf:
                        - required:
                            - from
                        - required:
                            - to
                      description: >
                        Фильтр по временному интервалу. Необходимо передать хотя бы одно поле фильтра.


                        * from Начало интервала (включительно).

                        * to   Конец интервала (не включительно).

                      properties:
                        from:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                        to:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                      type: object
                    customer_order_number:
                      description: Фильтр по клиентским номерам заказов
                      items:
                        description: Клиентский номер заказа
                        example: M12345678-00001
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    cutoff_time:
                      anyOf:
                        - required:
                            - from
                        - required:
                            - to
                      description: >
                        Фильтр по временному интервалу. Необходимо передать хотя бы одно поле фильтра.


                        * from Начало интервала (включительно).

                        * to   Конец интервала (не включительно).

                      properties:
                        from:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                        to:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                      type: object
                    dir:
                      description: Направление сортировки
                      enum:
                        - ASC
                        - DESC
                      type: string
                    warehouse_id:
                      description: Фильтр по идентификаторам складов.
                      items:
                        description: Идентификатор склада
                        example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                        format: uuid
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                  type: object
              required:
                - dir
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      next_page_token:
                        description: "Токен для получения следующей страницы. \nЕго необходимо передать в поле page_token в следующем запросе.\n"
                        type: string
                    type: object
                  - properties:
                      orders:
                        items:
                          properties:
                            created_at:
                              allOf:
                                - description: >-
                                    Дата/время в формате RFC3339 с указанием часового пояса
                                  example: '2024-08-24T14:15:22Z'
                                  format: date-time
                                  type: string
                              description: |
                                Дата и время создания заказа
                            customer_id:
                              description: Идентификатор покупателя
                              example: '437080'
                              type: string
                            customer_order_number:
                              description: Клиентский номер заказа
                              example: M12345678-00001
                              type: string
                            cutoff_time:
                              allOf:
                                - description: >-
                                    Дата/время в формате RFC3339 с указанием часового пояса
                                  example: '2024-08-24T14:15:22Z'
                                  format: date-time
                                  type: string
                              description: >
                                Дата и время, до которого необходимо собрать товары в посылки и привезти их на точку drop-off

                            delivery_region:
                              description: Регион доставки
                              example: Республика Татарстан
                              type: string
                            items:
                              description: |
                                Список товаров которые необходимо собрать
                              items:
                                properties:
                                  canceled_quantity:
                                    description: >-
                                      Кол-во товаров которое было отменено при сборке.
                                    example: 1
                                    type: integer
                                  financial_data:
                                    properties:
                                      old_price:
                                        description: >-
                                          Старая цена товара. На текущий момент совпадает со значение в поле price.
                                        example: 30
                                        type: number
                                      payment_price:
                                        description: >-
                                          Цена единицы товара, которую заплатил покупатель.
                                        example: 30
                                        type: number
                                      price:
                                        description: Цена единицы товара на витрине.
                                        example: 30
                                        type: number
                                    required:
                                      - old_price
                                      - price
                                      - payment_price
                                    type: object
                                  quantity:
                                    description: >-
                                      Кол-во единиц товара которое необходимо собрать.

                                      Поле отражает актуальное кол-во товара которое необходимо собрать. Если производить отмену товаров, то значение в этом поле будет уменьшаться
                                    example: 10
                                    type: integer
                                  sku_id:
                                    example: 4323435
                                    format: int64
                                    type: integer
                                required:
                                  - sku_id
                                  - quantity
                                  - financial_data
                                type: object
                              type: array
                            order_id:
                              description: Идентификатор сборочного задания
                              maxLength: 36
                              type: string
                            status:
                              description: |
                                Статус сборочного задания

                                * NEW         - Новый
                                * IN_ASSEMBLY - Собирается
                                * ASSEMBLED   - Сборка завершена
                                * CANCELED    - Отменен
                              enum:
                                - NEW
                                - IN_ASSEMBLY
                                - ASSEMBLED
                                - CANCELED
                              type: string
                            warehouse_id:
                              description: Идентификатор склада
                              example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                              format: uuid
                              type: string
                          required:
                            - order_id
                            - warehouse_id
                            - status
                            - cutoff_time
                            - created_at
                            - customer_order_number
                            - customer_id
                            - delivery_region
                            - items
                          type: object
                        type: array
                required:
                  - orders
                type: object
          description: Список заданий на сборку
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Список необработанных заданий на сборку
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/orders/list:
    post:
      description: |
        Возвращает список заданий на сборку за указанный период времени.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    page_size:
                      default: 100
                      description: Лимит кол-ва элементов в одном ответе
                      maximum: 1000
                      minimum: 1
                      type: integer
                    page_token:
                      description: >
                        В этом параметр необходимо передавать next_page_token из предыдущего ответа.

                        Если параметр не задан возвращается первая страница с результатами.

                      type: string
                  type: object
                - properties:
                    created_at:
                      anyOf:
                        - required:
                            - from
                        - required:
                            - to
                      description: >
                        Фильтр по временному интервалу. Необходимо передать хотя бы одно поле фильтра.


                        * from Начало интервала (включительно).

                        * to   Конец интервала (не включительно).

                      properties:
                        from:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                        to:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                      type: object
                    customer_order_number:
                      description: Фильтр по клиентским номерам заказов
                      items:
                        description: Клиентский номер заказа
                        example: M12345678-00001
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    dir:
                      description: Направление сортировки
                      enum:
                        - ASC
                        - DESC
                      type: string
                    order_id:
                      items:
                        description: Идентификатор сборочного задания
                        maxLength: 36
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    status:
                      description: |
                        Статус сборочного задания

                        * NEW         - Новый
                        * IN_ASSEMBLY - Собирается
                        * ASSEMBLED   - Сборка завершена
                        * CANCELED    - Отменен
                      enum:
                        - NEW
                        - IN_ASSEMBLY
                        - ASSEMBLED
                        - CANCELED
                      type: string
                    warehouse_id:
                      description: Фильтр по идентификаторам складов.
                      items:
                        description: Идентификатор склада
                        example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                        format: uuid
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                  type: object
              required:
                - dir
                - created_at
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      next_page_token:
                        description: "Токен для получения следующей страницы. \nЕго необходимо передать в поле page_token в следующем запросе.\n"
                        type: string
                    type: object
                  - properties:
                      orders:
                        items:
                          properties:
                            created_at:
                              allOf:
                                - description: >-
                                    Дата/время в формате RFC3339 с указанием часового пояса
                                  example: '2024-08-24T14:15:22Z'
                                  format: date-time
                                  type: string
                              description: |
                                Дата и время создания заказа
                            customer_id:
                              description: Идентификатор покупателя
                              example: '437080'
                              type: string
                            customer_order_number:
                              description: Клиентский номер заказа
                              example: M12345678-00001
                              type: string
                            cutoff_time:
                              allOf:
                                - description: >-
                                    Дата/время в формате RFC3339 с указанием часового пояса
                                  example: '2024-08-24T14:15:22Z'
                                  format: date-time
                                  type: string
                              description: >
                                Дата и время, до которого необходимо собрать товары в посылки и привезти их на точку drop-off

                            delivery_region:
                              description: Регион доставки
                              example: Республика Татарстан
                              type: string
                            items:
                              description: |
                                Список товаров которые необходимо собрать
                              items:
                                properties:
                                  canceled_quantity:
                                    description: >-
                                      Кол-во товаров которое было отменено при сборке.
                                    example: 1
                                    type: integer
                                  financial_data:
                                    properties:
                                      old_price:
                                        description: >-
                                          Старая цена товара. На текущий момент совпадает со значение в поле price.
                                        example: 30
                                        type: number
                                      payment_price:
                                        description: >-
                                          Цена единицы товара, которую заплатил покупатель.
                                        example: 30
                                        type: number
                                      price:
                                        description: Цена единицы товара на витрине.
                                        example: 30
                                        type: number
                                    required:
                                      - old_price
                                      - price
                                      - payment_price
                                    type: object
                                  quantity:
                                    description: >-
                                      Кол-во единиц товара которое необходимо собрать.

                                      Поле отражает актуальное кол-во товара которое необходимо собрать. Если производить отмену товаров, то значение в этом поле будет уменьшаться
                                    example: 10
                                    type: integer
                                  sku_id:
                                    example: 4323435
                                    format: int64
                                    type: integer
                                required:
                                  - sku_id
                                  - quantity
                                  - financial_data
                                type: object
                              type: array
                            order_id:
                              description: Идентификатор сборочного задания
                              maxLength: 36
                              type: string
                            status:
                              description: |
                                Статус сборочного задания

                                * NEW         - Новый
                                * IN_ASSEMBLY - Собирается
                                * ASSEMBLED   - Сборка завершена
                                * CANCELED    - Отменен
                              enum:
                                - NEW
                                - IN_ASSEMBLY
                                - ASSEMBLED
                                - CANCELED
                              type: string
                            warehouse_id:
                              description: Идентификатор склада
                              example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                              format: uuid
                              type: string
                          required:
                            - order_id
                            - warehouse_id
                            - status
                            - cutoff_time
                            - created_at
                            - customer_order_number
                            - customer_id
                            - delivery_region
                            - items
                          type: object
                        type: array
                    type: object
                required:
                  - orders
                type: object
          description: Список заданий на сборку
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Список заданий на сборку
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/orders/cancel-items:
    post:
      description: "Отменяемый товар не должен быть распределен по посылкам. \n\n⚠️ Это действие нельзя отменить.\n"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  items:
                    properties:
                      quantity:
                        minimum: 1
                        type: integer
                      sku_id:
                        example: 4323435
                        format: int64
                        type: integer
                    required:
                      - sku_id
                      - quantity
                    type: object
                  type: array
                order_id:
                  description: Идентификатор сборочного задания
                  maxLength: 36
                  type: string
              required:
                - items
                - order_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  order:
                    properties:
                      created_at:
                        allOf:
                          - description: >-
                              Дата/время в формате RFC3339 с указанием часового пояса
                            example: '2024-08-24T14:15:22Z'
                            format: date-time
                            type: string
                        description: |
                          Дата и время создания заказа
                      customer_id:
                        description: Идентификатор покупателя
                        example: '437080'
                        type: string
                      customer_order_number:
                        description: Клиентский номер заказа
                        example: M12345678-00001
                        type: string
                      cutoff_time:
                        allOf:
                          - description: >-
                              Дата/время в формате RFC3339 с указанием часового пояса
                            example: '2024-08-24T14:15:22Z'
                            format: date-time
                            type: string
                        description: >
                          Дата и время, до которого необходимо собрать товары в посылки и привезти их на точку drop-off

                      delivery_region:
                        description: Регион доставки
                        example: Республика Татарстан
                        type: string
                      items:
                        description: |
                          Список товаров которые необходимо собрать
                        items:
                          properties:
                            canceled_quantity:
                              description: Кол-во товаров которое было отменено при сборке.
                              example: 1
                              type: integer
                            financial_data:
                              properties:
                                old_price:
                                  description: >-
                                    Старая цена товара. На текущий момент совпадает со значение в поле price.
                                  example: 30
                                  type: number
                                payment_price:
                                  description: >-
                                    Цена единицы товара, которую заплатил покупатель.
                                  example: 30
                                  type: number
                                price:
                                  description: Цена единицы товара на витрине.
                                  example: 30
                                  type: number
                              required:
                                - old_price
                                - price
                                - payment_price
                              type: object
                            quantity:
                              description: >-
                                Кол-во единиц товара которое необходимо собрать.

                                Поле отражает актуальное кол-во товара которое необходимо собрать. Если производить отмену товаров, то значение в этом поле будет уменьшаться
                              example: 10
                              type: integer
                            sku_id:
                              example: 4323435
                              format: int64
                              type: integer
                          required:
                            - sku_id
                            - quantity
                            - financial_data
                          type: object
                        type: array
                      order_id:
                        description: Идентификатор сборочного задания
                        maxLength: 36
                        type: string
                      status:
                        description: |
                          Статус сборочного задания

                          * NEW         - Новый
                          * IN_ASSEMBLY - Собирается
                          * ASSEMBLED   - Сборка завершена
                          * CANCELED    - Отменен
                        enum:
                          - NEW
                          - IN_ASSEMBLY
                          - ASSEMBLED
                          - CANCELED
                        type: string
                      warehouse_id:
                        description: Идентификатор склада
                        example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                        format: uuid
                        type: string
                    required:
                      - order_id
                      - warehouse_id
                      - status
                      - cutoff_time
                      - created_at
                      - customer_order_number
                      - customer_id
                      - delivery_region
                      - items
                    type: object
                required:
                  - order
                type: object
          description: Актуальные информация о задании на сборку
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Отмена части товаров
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/orders/cancel:
    post:
      description: |
        ⚠️ Задание может быть отменено, до перевода в статус ASSEMBLED.

        ⚠️ Это действие нельзя отменить.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                order_id:
                  description: Идентификатор сборочного задания
                  maxLength: 36
                  type: string
              required:
                - order_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Запрос успешно выполнен
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Отмена задания на сборку
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/orders/complete:
    post:
      description: >
        Необходимо вызвать этот метод, чтобы посылки можно было добавить в отгрузку

      requestBody:
        content:
          application/json:
            schema:
              properties:
                order_id:
                  description: Идентификатор сборочного задания
                  maxLength: 36
                  type: string
              required:
                - order_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  parcels:
                    items:
                      properties:
                        barcode:
                          type: string
                        items:
                          items:
                            properties:
                              identifiers:
                                items:
                                  description: Идентификаторы для товара
                                  properties:
                                    cis:
                                      description: Маркировка Честный знак
                                      type: string
                                    gtd:
                                      description: >-
                                        Номер грузовой таможенной декларации (ГТД)
                                      type: string
                                    rnpt:
                                      description: >-
                                        Регистрационный номер партии товара (РНПТ)
                                      type: string
                                    uin:
                                      description: >-
                                        Уникальный идентификационный номер (УИН) ювелирного изделия
                                      type: string
                                  type: object
                                type: array
                              quantity:
                                minimum: 1
                                type: integer
                              sku_id:
                                example: 4323435
                                format: int64
                                type: integer
                            required:
                              - sku_id
                              - quantity
                            type: object
                          type: array
                        parcel_id:
                          description: Идентификатор посылки
                          maxLength: 36
                          type: string
                      required:
                        - parcel_id
                        - barcode
                        - items
                      type: object
                    type: array
                required:
                  - parcels
                type: object
          description: Список посылок
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Подтверждение сборки
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/orders/parcels:
    post:
      description: |
        Позволяет передать разбиение всего задания на посылки.
        Метод можно использовать если задания на сборку находится в статус NEW
      requestBody:
        content:
          application/json:
            schema:
              properties:
                auto_complete_order:
                  description: >
                    Признак, что задание на сборку должно быть автоматически завершено,

                    без необходимости вызывать запрос "Подтверждение сборки"

                  example: false
                  type: boolean
                order_id:
                  description: Идентификатор сборочного задания
                  maxLength: 36
                  type: string
                parcels:
                  items:
                    properties:
                      items:
                        items:
                          properties:
                            identifiers:
                              items:
                                description: Идентификаторы для товара
                                properties:
                                  cis:
                                    description: Маркировка Честный знак
                                    type: string
                                  gtd:
                                    description: Номер грузовой таможенной декларации (ГТД)
                                    type: string
                                  rnpt:
                                    description: Регистрационный номер партии товара (РНПТ)
                                    type: string
                                  uin:
                                    description: >-
                                      Уникальный идентификационный номер (УИН) ювелирного изделия
                                    type: string
                                type: object
                              type: array
                            quantity:
                              minimum: 1
                              type: integer
                            sku_id:
                              example: 4323435
                              format: int64
                              type: integer
                          required:
                            - sku_id
                            - quantity
                          type: object
                        type: array
                    required:
                      - items
                    type: object
                  type: array
              required:
                - parcels
                - order_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  parcels:
                    items:
                      properties:
                        barcode:
                          type: string
                        items:
                          items:
                            properties:
                              identifiers:
                                items:
                                  description: Идентификаторы для товара
                                  properties:
                                    cis:
                                      description: Маркировка Честный знак
                                      type: string
                                    gtd:
                                      description: >-
                                        Номер грузовой таможенной декларации (ГТД)
                                      type: string
                                    rnpt:
                                      description: >-
                                        Регистрационный номер партии товара (РНПТ)
                                      type: string
                                    uin:
                                      description: >-
                                        Уникальный идентификационный номер (УИН) ювелирного изделия
                                      type: string
                                  type: object
                                type: array
                              quantity:
                                minimum: 1
                                type: integer
                              sku_id:
                                example: 4323435
                                format: int64
                                type: integer
                            required:
                              - sku_id
                              - quantity
                            type: object
                          type: array
                        parcel_id:
                          description: Идентификатор посылки
                          maxLength: 36
                          type: string
                      required:
                        - parcel_id
                        - barcode
                        - items
                      type: object
                    type: array
                required:
                  - parcels
                type: object
          description: Посылки и их идентификаторы
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Передать разбиение на посылки
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/list:
    post:
      description: |
        Возвращает список посылок за указанный период времени.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    page_size:
                      default: 100
                      description: Лимит кол-ва элементов в одном ответе
                      maximum: 1000
                      minimum: 1
                      type: integer
                    page_token:
                      description: >
                        В этом параметр необходимо передавать next_page_token из предыдущего ответа.

                        Если параметр не задан возвращается первая страница с результатами.

                      type: string
                  type: object
                - properties:
                    barcode:
                      description: Фильтр по штрих-коду посылок
                      items:
                        description: Фильтр по штрих-коду
                        example: M000001-00001-1
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    created_at:
                      anyOf:
                        - required:
                            - from
                        - required:
                            - to
                      description: >
                        Фильтр по временному интервалу. Необходимо передать хотя бы одно поле фильтра.


                        * from Начало интервала (включительно).

                        * to   Конец интервала (не включительно).

                      properties:
                        from:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                        to:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                      type: object
                    customer_order_number:
                      description: Фильтр по клиентским номерам заказов
                      items:
                        description: Клиентский номер заказа
                        example: M12345678-00001
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    cutoff_time:
                      anyOf:
                        - required:
                            - from
                        - required:
                            - to
                      description: >
                        Фильтр по временному интервалу. Необходимо передать хотя бы одно поле фильтра.


                        * from Начало интервала (включительно).

                        * to   Конец интервала (не включительно).

                      properties:
                        from:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                        to:
                          description: >-
                            Дата/время в формате RFC3339 с указанием часового пояса
                          example: '2024-08-24T14:15:22Z'
                          format: date-time
                          type: string
                      type: object
                    dir:
                      description: Направление сортировки
                      enum:
                        - ASC
                        - DESC
                      type: string
                    order_id:
                      items:
                        description: Идентификатор сборочного задания
                        maxLength: 36
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    parcel_id:
                      items:
                        description: Идентификатор посылки
                        maxLength: 36
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                    status:
                      description: "Статус посылки  \n* NEW                  - Новая\n* READY_TO_SHIPMENT    - Готов к отгрузке\n* AWAITING_DELIVERY    - Передается в доставку\n* DELIVERING           - В пути\n* RECEIVED             - Получен клиентом\n* CANCELED             - Отменен\n"
                      enum:
                        - NEW
                        - READY_TO_SHIPMENT
                        - AWAITING_DELIVERY
                        - DELIVERING
                        - RECEIVED
                        - CANCELED
                      type: string
                    warehouse_id:
                      description: Фильтр по идентификаторам складов.
                      items:
                        description: Идентификатор склада
                        example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                        format: uuid
                        type: string
                      maxItems: 50
                      minItems: 1
                      type: array
                  type: object
              required:
                - dir
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      next_page_token:
                        description: "Токен для получения следующей страницы. \nЕго необходимо передать в поле page_token в следующем запросе.\n"
                        type: string
                    type: object
                  - properties:
                      parcels:
                        items:
                          properties:
                            barcode:
                              type: string
                            customer_order_number:
                              description: Клиентский номер заказа
                              example: M12345678-00001
                              type: string
                            cutoff_time:
                              example: '2019-08-24T14:15:22'
                              format: date-time
                              type: string
                            items:
                              items:
                                properties:
                                  identifiers:
                                    items:
                                      description: Идентификаторы для товара
                                      properties:
                                        cis:
                                          description: Маркировка Честный знак
                                          type: string
                                        gtd:
                                          description: >-
                                            Номер грузовой таможенной декларации (ГТД)
                                          type: string
                                        rnpt:
                                          description: >-
                                            Регистрационный номер партии товара (РНПТ)
                                          type: string
                                        uin:
                                          description: >-
                                            Уникальный идентификационный номер (УИН) ювелирного изделия
                                          type: string
                                      type: object
                                    type: array
                                  quantity:
                                    minimum: 1
                                    type: integer
                                  sku_id:
                                    example: 4323435
                                    format: int64
                                    type: integer
                                required:
                                  - sku_id
                                  - quantity
                                type: object
                              type: array
                            order_id:
                              description: Идентификатор сборочного задания
                              maxLength: 36
                              type: string
                            parcel_id:
                              description: Идентификатор посылки
                              maxLength: 36
                              type: string
                            status:
                              description: "Статус посылки  \n* NEW                  - Новая\n* READY_TO_SHIPMENT    - Готов к отгрузке\n* AWAITING_DELIVERY    - Передается в доставку\n* DELIVERING           - В пути\n* RECEIVED             - Получен клиентом\n* CANCELED             - Отменен\n"
                              enum:
                                - NEW
                                - READY_TO_SHIPMENT
                                - AWAITING_DELIVERY
                                - DELIVERING
                                - RECEIVED
                                - CANCELED
                              type: string
                            warehouse_id:
                              description: Идентификатор склада
                              example: 5f6f0334-0759-4e04-af31-8c5a4c4fa7b4
                              format: uuid
                              type: string
                          required:
                            - parcel_id
                            - status
                            - barcode
                            - customer_order_number
                            - cutoff_time
                            - warehouse_id
                            - items
                          type: object
                        type: array
                    type: object
                type: object
          description: Список посылок
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Список посылок
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/set-marking:
    post:
      description: >
        Передать маркировку можно до подтверждения сборки задания.


        ⚠️ Маркетплейс не производит проверку и вывод марок из оборота.


        ⚠️ Необходимо передавать маркировку сразу на все единицы товара (т.е. равным quantity этого товара в посылке).

      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  items:
                    properties:
                      identifiers:
                        items:
                          description: Идентификаторы для товара
                          properties:
                            cis:
                              description: Маркировка Честный знак
                              type: string
                            gtd:
                              description: Номер грузовой таможенной декларации (ГТД)
                              type: string
                            rnpt:
                              description: Регистрационный номер партии товара (РНПТ)
                              type: string
                            uin:
                              description: >-
                                Уникальный идентификационный номер (УИН) ювелирного изделия
                              type: string
                          type: object
                        type: array
                      sku_id:
                        example: 4323435
                        format: int64
                        type: integer
                    required:
                      - sku_id
                      - identifiers
                    type: object
                  type: array
                parcel_id:
                  description: Идентификатор посылки
                  maxLength: 36
                  type: string
              required:
                - parcel_id
                - items
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Запрос успешно выполнен
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Передать маркировку товаров внутри посылки
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/get-labels:
    post:
      description: |
        Метод возвращает этикетки для посылок в виде одного файла
      parameters:
        - description: |
            Выбранный формат получения ответа (по умолчанию application/json)
          in: header
          name: Accept
          required: true
          schema:
            default: application/json
            enum:
              - application/json
              - application/pdf
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                parcel_id:
                  items:
                    description: Идентификатор посылки
                    maxLength: 36
                    type: string
                  maxItems: 50
                  minItems: 1
                  type: array
              required:
                - parcel_id
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  file_content:
                    description: PDF файл со всеми этикетками
                    example: |-
                      %PDF-1.3
                      3 0 obj
                      <</Type /Page
                      ...
                    type: string
                  parcels:
                    description: |
                      Информация о посылках
                    items:
                      properties:
                        barcode:
                          description: Штрих код посылки
                          type: string
                        parcel_id:
                          description: Идентификатор посылки
                          maxLength: 36
                          type: string
                      required:
                        - parcel_id
                        - barcode
                      type: object
                    type: array
                required:
                  - parcels
                  - file_content
                type: object
            application/pdf:
              schema:
                example: |-
                  %PDF-1.3
                  3 0 obj
                  ...
                format: binary
                type: string
          description: Запрос успешно выполнен
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Получить этикетки для посылок
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/cancel:
    post:
      description: >
        Метод позволяет отменить собранную посылку. При этом также отменяются товары, находящиеся в ней.







         ⚠️ Это действие нельзя отменить.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                parcel_id:
                  description: Идентификатор посылки
                  maxLength: 36
                  type: string
              required:
                - parcel_id
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Посылка успешно отменена
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Отменить посылку вместе с товарами
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/create:
    post:
      description: |
        Метод позволяет передать состав одной посылки.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  items:
                    properties:
                      identifiers:
                        items:
                          description: Идентификаторы для товара
                          properties:
                            cis:
                              description: Маркировка Честный знак
                              type: string
                            gtd:
                              description: Номер грузовой таможенной декларации (ГТД)
                              type: string
                            rnpt:
                              description: Регистрационный номер партии товара (РНПТ)
                              type: string
                            uin:
                              description: >-
                                Уникальный идентификационный номер (УИН) ювелирного изделия
                              type: string
                          type: object
                        type: array
                      quantity:
                        minimum: 1
                        type: integer
                      sku_id:
                        example: 4323435
                        format: int64
                        type: integer
                    required:
                      - sku_id
                      - quantity
                    type: object
                  type: array
                order_id:
                  description: Идентификатор сборочного задания
                  maxLength: 36
                  type: string
              required:
                - order_id
                - items
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      properties:
                        identifiers:
                          items:
                            description: Идентификаторы для товара
                            properties:
                              cis:
                                description: Маркировка Честный знак
                                type: string
                              gtd:
                                description: Номер грузовой таможенной декларации (ГТД)
                                type: string
                              rnpt:
                                description: Регистрационный номер партии товара (РНПТ)
                                type: string
                              uin:
                                description: >-
                                  Уникальный идентификационный номер (УИН) ювелирного изделия
                                type: string
                            type: object
                          type: array
                        quantity:
                          minimum: 1
                          type: integer
                        sku_id:
                          example: 4323435
                          format: int64
                          type: integer
                      required:
                        - sku_id
                        - quantity
                      type: object
                    type: array
                  parcel_id:
                    description: Идентификатор посылки
                    maxLength: 36
                    type: string
                type: object
          description: Посылка успешно создана
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Внутренняя ошибка сервера
      summary: Создание посылки
      tags:
        - Задания на сборку
      x-gateway:
        auth: api_key
        scopes:
          - 'mm:b2b:all'
          - 'mm:b2b:orders-processing'
  /api/seller/v1/parcels/unpack:
    post:
      description: >
        Метод позволяет удалить посылку. Для этого посылка должна находиться в статусе NEW.


        Товары из удаляемой посылки можно распределить повторно.

      requestBody:
        content:
          application/json:
            schema:
              properties:
                parcel_id:
                  description: Идентификатор посылки
                  maxLength: 36
                  type: string
              required:
                - parcel_id
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Посылка успешно удалена
        '400':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
          description: Запрос содержит неправильные данные
        '403':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Нет доступа к запрашиваемому ресурсу
        '404':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            description: Список ошибок.
                            items:
                              properties:
                                message:
                                  description: Описание ошибки.
                                  type: string
                              required:
                                - message
                              type: object
                            type: array
                    required:
                      - errors
                    type: object
                type: object
          description: Запрашиваемый ресурс не найдет
        '500':
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
[...]
